<!DOCTYPE html>
<html>
<head>
	<title>Post Page</title>
</head>
<body>
<form action="/post" method="POST" enctype="multipart/form-data">
	<input type="file" accept="image/*" name = "photo" required/> </br>
	<p> Caption: </p>
	<input type="text" name="caption">
	<br>
	<p> Make visible to all followers:</p>
	<input type="checkbox" id='check' onclick="myFunc()" name = "allFollowers"/> </br>
	<select id="groups" name="groups" multiple >
		{% for group in groups %}
		<option value ='{{group["groupName"]}}'> {{group["groupName"]}} </option>
		{% endfor %}
	</select>
	<br>
	<input type="submit" value = Upload />

	{% if  message %}
	<p> {{ message }}  </p>
	{% endif %}

</form>
<a href="/home">Go back</a>
</body>
<script type="text/javascript">
	function myFunc(){
		var checkbox = document.getElementById('check');
		var groups =document.getElementById('groups');
		if(checkbox.checked == true){
			groups.style.display= 'none';
		}
		else{
			groups.style.display='inline-block';
		}

	}
</script>
</html>